*{
   padding: 0;
   margin: 0;
}
body{
   text-align: center;
   background-color: #01072e;
}
h1{
   color: ivory;
   font-size: 4rem;
   background-color: #0b145a;
   padding: 0.7rem;
   text-shadow: 0 0 1rem rgb(0, 0, 0);
}
.container{
   margin-top: 3rem;
   height: 60vh;
   display: flex;
   justify-content: center;
   align-items: center;
}
.box{
   height: 60vmin;
   width: 60vmin;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
   gap: 1.5vmin;
}
.btn{
   background-color: #0813a5;
   height:19vmin ;
   width:19vmin ;
   border-radius: 1rem;
   font-size: 14vmin;
   border: none;
   box-shadow: 0 0 1rem rgba(21, 6, 228, 0.4);
   color: #303633;
   display: flex;
   justify-content: center;
   align-items: center;
}
#rst{
   margin: 3vmin;
   padding: 1.5vmin;
   border-radius: 1rem;
   border: 1px solid black;
   font-size: 2.5vmin ;
   width: 12vmin;
   color: rgb(4, 2, 32);
   background-color: #9C7A97;
}
#newBtn{
   margin: 1vmin;
   margin-bottom: 2rem;
   padding: 1.5vmin;
   border-radius: 1rem;
   border: 1px solid black;
   font-size: 2.5vmin ;
   width: 18vmin;
   color: rgb(63, 59, 9);
   background-color: #9C7A97;
}
.hide{
   display: none;
}
#Msg{
   font-size: 10vmin;
   color: #DFE2E0;
   margin-bottom: 2.5rem;
}
.msgContainer{
   margin-top: 3.5rem;
   margin-bottom: 250px;
}
#scroll{
   font-size: 7vmin;
   color: #DFE2E0;
}
img{
   height: 115px;
   width: 115px;
   border-radius: 1rem;
   object-fit: cover;
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 2px;
}
.hide1{
   display: none;
}
.hide2{
   display: none;
}
.disabled{
   pointer-events: none;
}

.containerHome{
   margin-top: 3rem;
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 2rem;
}
.choice{
   width: 160px;
   height: 160px;
   object-fit: cover;
   background-color: rgb(12, 194, 139);
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 1.7rem;
}
#B1, #S2{
   width: 144px;
   height: 144px;
   object-fit: cover;
   border-radius: 1.7rem;
}
.choice:hover{
   background-color: rgb(125, 65, 180);
   cursor: pointer;
}
.msgContainer{
  margin-top: 3.5rem;
}
#continue{
   width: 10rem;
   font-size: 1.7rem;
   border: 1px solid black;
   border-radius: 1rem;
   background-color: #1078bd;
   color: #DFE2E0;
   padding: 5px;
}
#continue:hover{
   opacity: 0.7;
}
.hide3{
   background-color:rgb(58, 20, 119) ;
}