*{
    margin: 0;
    padding: 0;
    text-align: center;
}
h1{
    background-color: #003049;
    color: aliceblue;
    padding: 20px;
    font-size: 45px;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}
.choices{
    display: flex;
    flex-wrap: wrap;
    width: 11rem;
    height: 34rem;
    margin-top: 20px;
    margin-left: 4rem;
}
.choice{
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.compChoices{
    display: flex;
    flex-wrap: wrap;
    width: 11rem;
    height: 34rem;
    margin-top: 20px;
    margin-right: 4rem;
}
.compChoice{
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
img{
    height: 9rem;
    width: 9rem;
    object-fit: cover;
    border-radius: 50%;
}
.choice:hover{
    background-color: #003;
    cursor: pointer;
}
.scoreboard{
    display: flex;
    width: 30rem;
    flex-wrap: wrap;
    justify-content: center;
}
.score{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;
    gap: 10rem;
    font-size: 30px;
}
#userScore,#compScore{
    font-size: 60px;
} 
#msg{
    background-color: darkslategray;
    height: 2rem;
    color: ivory;
    font-size: 1.5rem;
    padding: 10px;
    display: inline;
    border-radius: 1rem;
}
